---
import { Icon } from "astro-icon/components";
import Button from "./Button.astro";

type Props = {
  icon: string;
  valor: string;
  label: string;
  descripcion?: string;
  titulo?: string;
};

const { icon, valor, label, descripcion, titulo } = Astro.props;
---

<style>
  .section {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.231);
    margin: 1rem 0.5rem;
    padding: 1rem 1.5rem;
  }
  .date {
    color: var(--primary);
  }
  .seccion-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
  }
  .seccion-contenido {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 1.5rem;
  }

  .seccion-contenido p {
    opacity: 70%;
    font-size: 14px;
  }
</style>

<article class="section">
  <div class="seccion-content">
    <div class="seccion-contenido">
      <label for={label}>
        <input name={label} id={label} type="checkbox" value={valor} />
      </label>
      <div>
        <!-- linea siguiente condicional: si existe titulo renderiza h4 de lo contrario no haga nada -->

        {titulo && <h4>{titulo}</h4>}
        <p>{descripcion}</p>
      </div>
    </div>

    <div>
      <Button icon="mas-acciones" />
    </div>
  </div>
  <div class="seccion-content">
    <span class="date">octubre 02</span>
    <span
      style="display: flex; gap: 0 4px; justify-content:flex-end; align-items:normal;"
    >
      <Icon name={icon} size={27} />
    </span>
  </div>
</article>
